@{
    ViewData["Title"] = "Application C#";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my C#</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>aller a <a asp-controller="Employee" asp-action="Employees">employees</a></h3>
</div>
